@model Eye.Team.Web.ViewModels.JogoExibicaoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataJogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataJogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeGolTime1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeGolTime1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeGolTime2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeGolTime2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTime1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTime1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTime2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTime2)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
